.c-item{
  height: 480px;
}

.c-img{
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
  
}

.overview{
  height: 180px;
  background-color: #d3dae1;
}

.card-img-custom {
  height: 350px; /* Adjust height as needed */
  object-fit: cover; /* Ensures the image scales properly while maintaining aspect ratio */
}